.ulockd-blog {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.ulockd-main-title {
  margin-bottom: 30px;
  text-align: center;
}

.ulockd-main-title h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}

.ulockd-main-title img {
  display: block;
  margin: 0 auto;
}

.gallery-thumb {
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.gallery-thumb iframe {
  border: none;
}

.video_more {
  text-align: center;
  margin-top: 30px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #feaea3;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #cd887f;
}
