/* WelcomeSection.css */

.con-title {
    margin-bottom: 30px; 
    margin-top: 30px;
}
.con-title span {
    color: #feaea3;
    font-weight: bold;
}
.con-title h2 {
    /* color: #feaea3; */
    font-weight: bold;
    margin-left: 200px;
}
.con-title h5  {
    margin-top: 20px;
    margin-left: 120px;
}
.con-title img  {
    margin-top: 20px;
    margin-left: 450px;
}

.ulockd-ffact-one {
    background-color: #feaea3;
    padding: 25px 0;
    position: relative;
    z-index: 999;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: 1px dashed #fff;
    text-align: center; 
}

.ulockd-ffact-one:hover {
    transform: translateY(-5px); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}
.ulockd-ffact-one p {
    font-weight: bold;
}
.timer {
    font-size: 24px; 
    margin-bottom: 10px; 
    display: inline-block; 
}

